.DivCard{
    display: inline-grid;
    justify-content: space-between;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.ButtonClose{
    background-color: rgb(179, 255, 3);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}
.DivCard img{
margin-right: 10px;
margin-left: 10px;
}

.DivCard h2{
    background-color: rgb(179, 255, 3);
    color: rgb(7, 143, 59);
    border-radius: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.DivCard img{
    border-radius: 10px;
}